
$panel-breakpoint-md: 768px !default;
$panel-container-max-width-md: 768px !default;

.panel-modal {
    .modal-dialog {
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        width: 100%;
        margin: 0 !important;
    }
    .modal-body {
        background: #efefef;
        padding: 0;
    }
    .modal-body {
        .modal-footer {
            //margin: 0 -20px -20px;
        }
    }
    @media(min-width: $panel-breakpoint-md) {
        .modal-dialog {
            max-width: $panel-container-max-width-md;
            &.modal-xl {
                max-width: 100%
            }
        }
    }
    .modal-content {
        height: 100% !important;
        max-height: 100% !important;
        border-radius: 0;
        border: 0;
        box-shadow: rgba(0, 0, 0, 0.3) -2px 0px 15px;
    }
    &.fade {
        .modal-dialog {
            position: absolute;
            right: 0;
            opacity: 1;
            transform: translate(50%, 0);
        }
        &.show .modal-dialog {
            transform: translate(0, 0);
        }
    }

    &.panel-1 .modal-dialog:not(.modal-xl) {transform: translate(-16px, 0) !important;}
    &.panel-2 .modal-dialog:not(.modal-xl) {transform: translate(-28px, 0) !important;}
    &.panel-3 .modal-dialog:not(.modal-xl) {transform: translate(-36px, 0) !important;}
    &.panel-4 .modal-dialog:not(.modal-xl) {transform: translate(-40px, 0) !important;}

    .modal-footer {
        background-color: #fff;
    }

    > .modal-body {
        padding: 0px;
    }

}


.panel {
    display: flex;
    flex-direction: column;
    height: 100%;

    > div {
        flex-grow: 1;
    }

    .panel-body {
        display: block;
        height: 100%;
        flex-grow: 1;
        overflow: auto;
        padding: 20px;
    }

    .panel-footer {
        flex-grow: 0;
        @extend .modal-footer;
    }
};


