@media (max-width: 576px) {
    .form-inline {
        display: block;
    }
}
@media (min-width: 576px) {
    .form-inline {
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        height: 100%;
        margin: 0 -5px;
    }
    .form-inline .form-fields {
        display: flex;
        align-items: flex-start;
        height: 100%;
    }
    .form-inline .form-field {
        padding: 0 5px;
    }
    .form-inline .form-buttons {
        display: flex;
        align-items: flex-end;
        height: 100%;
        width: 30%;
        margin: 0 5px;
    }
    .form-inline .form-buttons > div {
        margin-top: 24px;
    }
    .form-inline .form-control {
        width: 100%;
    }
    .form-inline .form-buttons button {
        white-space: nowrap;
    }
}